* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "NotoSans";
  src: url("./assets/fonts/static/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("./assets/fonts/static/NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("./assets/fonts/static/NotoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
